@use '../sass/abstracts/_vars';

.btn {
    background-color: white;
    padding: .75rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &.primary {
        background-color: vars.$color__primary;
    }
    &.secondary {
        background-color: transparent;
        color: white;
        border: 1px solid white;
    }
}